<div class="jumbotron mt-4">

    <h1 class="display-4">Notes App (Node.js and Mongodb)</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <hr class="my-4"> <!-- es una linea divisora :o  esto no sabia jajajaj xd-->
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, facilis velit facere aperiam corrupti laborum
        magni, distinctio autem nam quo omnis provident numquam? Fuga cupiditate voluptatem laboriosam iure eius fugit!
    </p>
    <a href="http://google.com" class="btn btn-primary btn-lg">Goggle</a>
</div>