<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>New Note</h3>
        </div>

        <div class="card-body">
            <!-- ruta creada routes/notes , ahi le enviarekos la information a la oruta tipo post 
            POST consiste en datos "ocultos" (porque el cliente no los ve) enviados por un formulario 
            cuyo método de envío es post. Es adecuado para formularios. Los datos no son visibles.-->
            <form action="/notes/addNotes" method="POST">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="Title" autofocus>
                </div>
                <div class="form-group">
                    <textarea name="description" class="form-control" placeholder="Description"></textarea>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>